In [2]:
[x for x in range(1,1000) if x % 7 == 0 ]

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [7]:
break_list = [1,3,5,7,9]
for x in break_list:
    if x == 7:
        print (x)
        break

7

In [8]:
break_list = [1,3,5,7,9]
for x in break_list:
    print(x)
    if x == 7:
        break

1
3
5
7

In [9]:
break_list = [1,3,5,7,9]
for x in break_list:
    if x == 7:
        break
    print(x)

1
3
5

In [16]:
break_list = [1,3,5,7,9]
for x in break_list:
    if x == 7:
        continue
    print(x)

1
3
5
9

In [19]:
first_name = ["Arsalan", " Muhammad Danial", "Mirza Ansa", "Syed Zesshan"]
last_name = ["Khan", "Siddique", "Masood Baig", "Ahmed"]
full_name =[]

for f in first_name:
    for l in last_name:
        full_name.append(f + " " + l)
print(full_name)

['Arsalan Khan', 'Arsalan Siddique', 'Arsalan Masood Baig', 'Arsalan Ahmed', ' Muhammad Danial Khan', ' Muhammad Danial Siddique', ' Muhammad Danial Masood Baig', ' Muhammad Danial Ahmed', 'Mirza Ansa Khan', 'Mirza Ansa Siddique', 'Mirza Ansa Masood Baig', 'Mirza Ansa Ahmed', 'Syed Zesshan Khan', 'Syed Zesshan Siddique', 'Syed Zesshan Masood Baig', 'Syed Zesshan Ahmed']

In [22]:
# table Assigmnent

for t in range (1,11):
    print ("2 * " + str(t) + " = " + str(t*2)  )

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [36]:
for f in range (2,11):
    for l in range (1,11):
        print (f ," * " , l  ," = ",  f*2  )

2  *  1  =  4
2  *  2  =  4
2  *  3  =  4
2  *  4  =  4
2  *  5  =  4
2  *  6  =  4
2  *  7  =  4
2  *  8  =  4
2  *  9  =  4
2  *  10  =  4
3  *  1  =  6
3  *  2  =  6
3  *  3  =  6
3  *  4  =  6
3  *  5  =  6
3  *  6  =  6
3  *  7  =  6
3  *  8  =  6
3  *  9  =  6
3  *  10  =  6
4  *  1  =  8
4  *  2  =  8
4  *  3  =  8
4  *  4  =  8
4  *  5  =  8
4  *  6  =  8
4  *  7  =  8
4  *  8  =  8
4  *  9  =  8
4  *  10  =  8
5  *  1  =  10
5  *  2  =  10
5  *  3  =  10
5  *  4  =  10
5  *  5  =  10
5  *  6  =  10
5  *  7  =  10
5  *  8  =  10
5  *  9  =  10
5  *  10  =  10
6  *  1  =  12
6  *  2  =  12
6  *  3  =  12
6  *  4  =  12
6  *  5  =  12
6  *  6  =  12
6  *  7  =  12
6  *  8  =  12
6  *  9  =  12
6  *  10  =  12
7  *  1  =  14
7  *  2  =  14
7  *  3  =  14
7  *  4  =  14
7  *  5  =  14
7  *  6  =  14
7  *  7  =  14
7  *  8  =  14
7  *  9  =  14
7  *  10  =  14
8  *  1  =  16
8  *  2  =  16
8  *  3  =  16
8  *  4  =  16
8  *  5  =  16
8  *  6  =  16
8  *  7  =  16
8  *  8  =  16
8  *  9  =  16
8  *  10  =  16
9  *  1  =  18
9  *  2  =  18
9  *  3  =  18
9  *  4  =  18
9  *  5  =  18
9  *  6  =  18
9  *  7  =  18
9  *  8  =  18
9  *  9  =  18
9  *  10  =  18
10  *  1  =  20
10  *  2  =  20
10  *  3  =  20
10  *  4  =  20
10  *  5  =  20
10  *  6  =  20
10  *  7  =  20
10  *  8  =  20
10  *  9  =  20
10  *  10  =  20

In [49]:
f = int(input("Please input your Table Number : "))
l = int(input("Please input your Range Number : "))
for tab in range (f,l):
    for ran in range (1,11):
        print (tab ," * " , ran  ," = ",  ran*tab  )

Please input your Table Number : 2
Please input your Range Number : 4
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

# Dictionaries

In [50]:
# dct = {key:Value}

In [76]:
dct = {1:100,2:200,3:300, 4:400}
dct1 = {"a":"Apple", "b":"Barka Apple"}
dct2 = {1:"a",2:"b",3:"c"}
dct3 = {"Apple":100, "Barka Apple":200}
dct4 = {"name":["Arsalan","Danial","Zeeshan","Anas"], 1:9999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}   # List of Dictionaries
dct6 = {1:{11:"a",22:"abc",33:"c"},2:"1234567"}

dct
dct5["a1"][1]

{'a': 'Apple', 'b': 'Barka Apple'}

# json format is most famous format (json = Java Sript on notation)

In [77]:
dct6[1][22][1]

'b'

In [78]:
dct7 = {"1":["asad","Qwer"], 2:"saad", 11:"Danish"}

In [79]:
dct7["1"].append("Arsalan")

In [80]:
dct7

{'1': ['asad', 'Qwer', 'Arsalan'], 2: 'saad', 11: 'Danish'}

In [82]:
dct8 = {"a":1,"b":2,"c":3,"d":4,"e":5,"f":6,"g":7,"h":8}

In [86]:
for k,v in dct8.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5
f 6
g 7
h 8

In [91]:
for k in dct8.keys():
    print (k)

a
b
c
d
e
f
g
h

In [92]:
for k in dct8.keys():
    print (dct8[k])

1
2
3
4
5
6
7
8

In [93]:
for k in dct8.values():
    print (k)

1
2
3
4
5
6
7
8